/* ContactUs.css */

.contact-us {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #666;
  }
  
  .contact-us h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-us p {
    font-size: 16px;
  }






  